<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <!--<connectionStrings>
    <add name="conn" connectionString="Data Source=B0F5LTE6KWG3U4O;Initial Catalog=WZ;User ID=user1;Password=123" />
    </connectionStrings>-->
  <appSettings>
        <add  key="dbConnectionString" value="server=T30TLCP17A9CW8F;User id=user1;Pwd=123;database=WZ" />
    </appSettings>

</configuration>
